.ant-layout-header.site-layout-background > span {
	color: #fff;
	margin-left: 1rem;
}

.ant-layout-header.site-layout-background > span > svg {
	height: 1.4rem !important;
}

.ant-layout-sider-children > .logo {
	height: 64px !important;
	box-sizing: border-box;
	line-height: 64px;
}

.ant-layout-sider-children > .logo > h1 {
	color: #fff;
	font-size: 25px;
	text-align: center;
}

.ant-layout-sider-children > ul > li {
	margin-top: 0 !important;
}

.ant-layout-sider.ant-layout-sider-dark {
	height: 100vh;
}